body {
    background-color: wheat;
    overflow: hidden; /* this will center the object */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
td, th {
    border: 1px solid black;
    padding: 30px;
}

.title {
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 50px;
    margin-left: 245px;
  }
  
button:hover {background-color: orange}
  
button:active {
    background-color: darkorange;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
